/build
/lean_packages/*
!/lean_packages/manifest.json
/MMExtraction/Playground.lean
/MMExtraction/Everything.lean
/MMExtraction2/Everything.lean
/tautologies.mm
MMExtraction/MMPropositionalImporterParser.lean
MMExtraction/MMPropositionalImporterLeanBuilder.lean
MMExtraction/MMPropositionalImporterData.lean
MMExtraction/MMPropositionalImporter2.lean
MMExtraction/Metavar.lean
MMExtraction/ExporterGeneric2.lean
